

/* Styling for the lines container */


/* Styling for the "Ph.D Students" text */
.phd-text3 {
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}

/* Styling for the header container to place the text and buttons in the same row */
.header-container {
  display: flex;
  align-items: center;
  margin-top: 0px;

}


/* Add spacing between "Ph.D Students" text and buttons */
.buttons-container {
  display: flex;
  align-items: center;
  margin-left: 13rem;
  margin-bottom:20px;
}

.button {
  padding: 10px 30px;
  margin-right: 4rem; /* Add margin-right to create space between buttons */
  background-color: #FDE4CF;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem; 
  font-family: 'Poppins', sans-serif;
  
}

.button:hover {
  background-color:  #FDE4CF;
}

/* Add the styling for the active button */
.button.active {
  background-color: #f7b987;;
}

/* Add styling for content details */
.content-details {
  margin-top: 20px;
}

.content-section {

  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
  border-radius: 30px;
}

.content-section h2 {
  margin-bottom: 8px;
  color: #333;
}

.content-section p {
  color: #666;
}

/* Add padding to the left of the About content section */
.content-section h2:first-child {
  padding-left: 40px;
}
