@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


.body{
    
    
        margin: 0;
        padding: 100px;
        min-height: 50vh;

      
}

.left-image{
        position: absolute;
width:8vw;
height: 20vw;
left: 49px;
top: 191px;
z-index: 1;
/* @media screen and (max-width: 768px) {
        width: 80px;
        height: auto;
        
      }
    
      @media screen and (max-width: 480px) {
        width: 50px;
        height: auto;
       
      }
  
 */

}


.box {
        height: 350px;
        width: 100%;
        max-width: 1344px;

        margin: 180px auto 0;
        border-radius: 40px;
        background-color: white; /* Replace with your desired background color */
        /* Add any other styling properties you need */
      
        /* Responsive Styles */
        width: calc(100% - 70px); /* Adjust the subtracted value (40px) as needed */
        max-width: 100%;
        padding: 0 20px; /* Adjust the padding as needed */
        box-sizing: border-box;
       
      
        @media screen and (max-width: 480px) {
          height: 150px;
          margin-top: 20px;
        }
      }
      
      
      .second-box {
        position: relative;
        width: 200px;
        height: 100px;
       margin-top: 2vw;
       margin-bottom: 1vw;
        

        background-color: #FDE4CF; /* Replace with your desired background color */
        border-radius: 10px;
        /* Add any other styling properties you need */
      
        /* Responsive Styles */
        @media screen and (max-width: 768px) {
          width: 150px;
          height: 75px;
        }
      
        @media screen and (max-width: 480px) {
          width: 100px;
          height: 50px;
        }
      }

      .second-box {
        position: absolute;
        width: 200px;
        height: 50px;
        right: 4%;
        bottom:0;
        background-color: #FDE4CF; /* Replace with your desired background color */
        border-radius: 30px;
  /* Add any other styling properties you need */
      }
.second-box p{
        font-size: 18px;
        align-self: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        
}
.second-box:hover {
  background-color: #ffac68;  /* Change to your desired hover background color */
}



.box2 {
  height:auto;
  width: 100%;
  max-width: 1400px;
 
  margin: 180px auto 0;
  border-radius: 40px;
  background-color: white; /* Replace with your desired background color */
  /* Add any other styling properties you need */

  /* Responsive Styles */
  width: calc(100% - 90px); /* Adjust the subtracted value (40px) as needed */
  max-width: 100%;
  padding: 0 20px; /* Adjust the padding as needed */
  box-sizing: border-box;
  position: relative;

 

  @media screen and (max-width: 480px) {
    height: 150px;
    margin-top: 20px;
  }
}

.gridsss{
  padding: 10px;
  grid-gap: 0px;
  display: grid;

}

@media (min-width: 760px) {
  .gridsss {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 960px) {
  .gridsss {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1200px) {
  .gridsss {
    grid-template-columns: repeat(1, 4fr);
  }
}

.gridsss .coll2 {
  background-color: #c3e8eb;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 30px;
  margin-top: 0px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.gridsss .coll2:first-child,
.gridsss .coll2:nth-child(3) {
  margin-left:30vw;
  margin-right:5vw;
  z-index: 2;
}


.gridsss .coll2:nth-child(5) {
  margin-left:30vw;
  margin-right:5vw;
  z-index: 2;
  margin-bottom: 5vw;
}




.coll2 p{
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vw;
}

.coll2 b{
  text-align:left;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vw;

}

.box3{
  height:auto;
  width: 100%;
  max-width: 1344px;

  margin: 180px auto 0;
  border-radius: 40px;
  background-color: #CBF4F8; /* Replace with your desired background color */
  /* Add any other styling properties you need */

  /* Responsive Styles */
  width: calc(100% - 70px); /* Adjust the subtracted value (40px) as needed */
  max-width: 100%;
  padding:80px; /* Adjust the padding as needed */
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;

 

  @media screen and (max-width: 480px) {
    height: 150px;
    margin-top: 20px;
  }
}

.gridsss .coll2:nth-child(2) {
  margin-right: 60vw;
  background-color:#A3C4F3;
  margin-left:90px;
padding: 30px;

}

.gridsss .coll2:nth-child(1){
  margin-top:80px;
  z-index:2;

}
.rec{
  width:90vw;
}

.rec-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/Rectangle24.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  z-index: 1;
}


.rec {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  margin-top: 20px;

}

.cardi {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  height:20vw;
  width:20vw;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .grid-box {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cardi b{
  font-size: 2vw;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: inherit;
}

.cardi img{
  padding-bottom: 3vw;
}

.cardi:nth-child(3) img {
  padding-bottom: 1vw;
}

.cardi:hover{
  background-color:#B9FBC0 ;
}

.cardi p{
  color: grey;
}

.cardi a{
  text-decoration: none;
  color:inherit
}

.border{
  float:left;
  margin-top:15px;
  padding: 0;
}

.rectu{
  position: absolute;
  margin-top: 0;
  margin-left:30vw;
  height:24rem;
  z-index: 1;
  width:24rem;

}

.recti{
  position: absolute;
  margin-top: 40px;
  margin-left:60vw;
  height:23rem;
  z-index: 1;
  width:24rem;

}
.rectb{
  z-index:1;
  margin-top:32vw;
  margin-left:2vw;
  height:12rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-center {
  transform: scale(1.1); /* Optional: Adjust the scale for the centered image */
}