@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700&display=swap');

.lines-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
  }
  
  .line {
    width: calc(100% - 50px);
    height: 1px;
    background-color: #fff;
    margin-bottom: 3.6vw;
     /* Adjust the spacing between the lines */
  }
  
  .now-row {
    clear: both;
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .next-row {
    margin-right: 20px; /* Adjust as needed */
  }
  .body {
    margin-top:80px; /* Adjust the value as needed */
    padding: 0;
    min-height: 100vh;
  }
  
  .professor-text {
    text-align: left;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-top: 0px;
    /* /* Adjust the padding as needed */
  }
  
  

  .socialss{
    position: absolute;
    bottom:14px;
    right:5px;
    left:5px;
    
    width:100%;
    display: flex;
    justify-content:space-around;

  }
  
 
  .image-holder {
    overflow: hidden;

    padding: 30px; /* Add padding around the image holder */
  }
  
  .image-holder img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
  }
  
  .card-content {
    padding: 20px;
    padding-bottom: 40px;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    max-width: 1170px;
  margin: auto;
    
  }
  
.column {
    width: 700px; 
  }
  
  .colu:nth-child(2) {
    
    border-radius: 40px;
background: linear-gradient(105deg, rgba(255, 255, 255, 0.30) 26.53%, rgba(255, 255, 255, 0.19) 65.34%, rgba(217, 217, 217, 0.00) 129.77%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    font-family: 'Poppins', sans-serif;
    
  
    width: 60vw;
    border-radius: 30px;
    margin-right:0px;
    margin-left: 40px; 
    text-align: left;
    display: flex;
  }

  .colu:nth-child(2) h2{
    padding-left: 30px;
  }

  

  .colu:nth-child(1){
    background-color: white;
    width:300px;
   
  }


.card-content span{
  
  font-family: 'Kanit';
  font-weight: 600;
}

  .grid{
  
    padding:16px;
    grid-gap:0px;
    display:grid;

    @media (min-width: 760px){
        display:grid;
        
        grid-template-columns: repeat(2,1fr);
    }


    @media (min-width: 960px){
        display:grid;
        
        grid-template-columns: repeat(3,1fr);
    }

    @media (min-width: 1200px){
        display:grid;
        
        grid-template-columns: repeat(4,1fr);
    }

    .col{

        background-color: white;
        margin-bottom:40px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        padding:20px;
        border-radius: 40px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        font-family: 'Poppins', sans-serif;
        position: relative;
    }

    .colp{

      background-color: white;
      margin-bottom:40px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 20px;
      padding:20px;
      border-radius: 40px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      font-family: 'Poppins', sans-serif;
      position: relative;
  }
  }

  .phd-text2{
    margin-top:20px;
    text-align: left;
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    font-weight: 800;
   
  }

.img2{
    display:block;
    width:100%;
    max-width:100%;
    border-radius: 40px;
}
    

.img2 img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 40px;
}

.cardcont{
    text-align: left;
    margin-left: 5px;;
}

.col a{
    text-decoration: none;
    color:black;
}

.col p{
  font-size: 1.3vw;
  text-align: left;
}

.col:hover{
    background-color: rgb(208, 208, 208);
    transition: 0.3s ease-in-out;
}



.gridd{
  padding:16px;
  grid-gap:0px;
  display:grid;

  @media (min-width: 760px){
      display:grid;
      
      grid-template-columns: repeat(1,1fr);
  }


  @media (min-width: 960px){
      display:grid;
      
      grid-template-columns: repeat(1,1fr);
  }

  @media (min-width: 1200px){
      display:grid;
      
      grid-template-columns: repeat(2,1fr);
  }

  .colu{
     
      margin-bottom:40px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 20px;
      padding:20px;
      border-radius: 40px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.card-content h3{
  margin-top:0;
  padding-bottom: 0;
}
.card-content h3 {
  text-decoration: none;
  color: black;
}

.card-content a {
  text-decoration: none;
}

.card-content p{
  font-size: 0.98rem;
}

.colu a{
  text-decoration: none;
}

.card-content a{
  text-decoration: none;
}

.cardicon{
  height:2.3vw;
  width:2.3vw;
  



}
.cardicon2{
  height:2.3vw;
  width:2.3vw;
  padding-right: 5px;
  padding-top: 20px;
  



}
/* .github{
  padding-right: 20px;
}
.behance{
  padding-left: 20px;
} */

.email-container {
  position: relative;
}

.email-text {
  display: none;
  position: absolute;
   /* Adjust as needed for positioning */
  left: 0;
  background-color: #fff; /* Adjust background color as desired */
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  white-space: nowrap; /* Prevent text wrapping */
}

.email-container:hover .email-text {
  display: block;
}
.lline{
  height:1px;
  background-color: black;
  margin: 10px 0;
  width:30vw;
}

.colu:nth-child(2) .firstcol{
  flex:1;
  padding-right: 20px;
}

.colu:nth-child(2) .secondcol{
  flex:1;
  
  
}

